/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  font-family: "Outfit", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.text-13px {
  font-size: 16px;
}

#side{
  background-image: url(./images/side.png);
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
#dashbg{
  background-image: url(./images/dashbg.png);
}
.category-links-slider-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.category-link-item {
  text-align: center;
  padding: 5px;
}

.category-link {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive breakpoints */
@media (max-width: 1024px) {
  .category-links-slider-container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .category-links-slider-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .category-links-slider-container {
    width: 100%;
  }

  .slick-dots {
    bottom: 10px; 
  }
}

@media (min-width: 768px) {
  .sidebar-collapsed {
    transform: translateX(-16rem); 
  }
  .content {
    margin-left: 16rem; 
  }
}
@media (max-width: 767px) {
  .sidebar-collapsed {
    transform: translateX(-4rem);
  }
  .content {
    margin-left: 0;
  }
}

.jconfirm-holder{
  width: 50%;
  margin: auto;
}
#result_list{
  left: 556px;
  top: 722px
}
.small{
font-size: 14px
}

.map_style {

        height: 100vh;
        width: 100%;
/*        background: #f0fff2*/
    }

    .success_session {
        position: absolute;
        background: green;
        right: 0px;
        color: white;
        border-radius: 4px;
        padding: 5px 20px;
    }

    .success_message {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(15px);
    }

    .pointer {
        cursor: pointer;
    }

    .popup_success {
        border-radius: 4px;
        width: 80%;
        margin: auto;
        background: white;
    }

    .noUi-target {
        height: 8px;
        background: #998787bd !important;

    }

    .noUi-base {

    }

    .noUi-connect{
        background: #16813d !important;
    }

    .noUi-horizontal .noUi-handle {
        width: 14px;
        height: 16px;
        right: -12px;
        top: -6px;
        border-radius: 50%;
        background: black;
        box-shadow: none !important;
    }

    #price_high,
    #price_low {
        font-size: 13px;
        margin: auto;
    }
    .no-scrollbar {
      overflow: auto; /* or overflow-y: scroll; */
    }
    
    .no-scrollbar::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
    }
    

    .help{
      background-image: url(../images/sidehelp.png);
    }

 .list{
      background-image: url(../images/sidehelp.png);

    }